body {
	font-family: courier, serif;
	font-size: 12px;
	line-height: 20px;
	background-image: url('bg.png');

}

a:link {
	color: black;
}

a:visited {
	color: black;
}


.back {
	font-size: 12px;
	position: fixed;
	left: 10%;
	top: 5%;

}

.part1 {
	width: 200px;
	height: 200px;
	font-size: 15px;
	line-height: 24px;
	position: absolute;
	left: 10%;
	top: 30%;
	z-index: 100;
}

.part2 {
	width: 300px;
	height: 300px;
	position: fixed;
	left: 40%;
	top: 50%;
	z-index: 100;
}

.part3 {
	width: 200px;
	height: 350px;
	font-size: 15px;
	line-height: 24px;
	position: fixed;
	right: 10%;
	top: 10%;
	z-index: 100;
}
.tablepic {
	width: 150px;
	position: fixed;
	left: 15%;
	top: 35%;
	z-index: 10;
}

.tablepic:hover {
	z-index: 50;
	opacity: 0.2;
}

.gif1 {
	border-style: none;
	width: 230px;
/*	height: 300px;*/
	position: fixed;
	right: 5%;
	top: 25%;
	z-index: 100;
}
.gif1:hover {
	z-index: 50;
	opacity: 0.2;
}

.gif2 {
	border-style: none;
	height: 200px;
	position: fixed;
	left: 45%;
	top: 35%;
	z-index: 100;
}

.gif2:hover {
	z-index: 50;
	opacity: 0.2;
}
